.footer {
   background-color: #D5D4D8;
   display: flex;
   justify-content: center;
   padding: 18px;
   border-top: 2px solid #23252C;
   margin-top: 3.4em;
   border-radius: 0 0 10px 10px;
}

.imagem {
   width: 25px;
   height: 25px;
}

.images {
   width: 172px;
   display: flex;
   justify-content: space-between;
}