*{
   margin: 0;
   font-family: 'Inter', sans-serif;;
}
.app {
   box-sizing: border-box;
   background-color: #23252C;
   display: flex;
   width: 100vw;
   height: 100vh;
   justify-content: center;
   align-items: center;
}

.container{
   border-radius: 30px 30px 10px 10px;
   width: 317px;
   height: 780px;
   background-color: #F5F5F5;
}

.footer{
   
}